/* * {
    outline: 1px solid salmon;
} */

body {
    font-size: 18px;
}

.alt {
    background: black;
    color: white;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

select, option, input {
    padding: 10px 40px 10px 5px;
}

select, input {
    border: 2px solid red;
    border-left: 10px solid red;
    border-right: 10px solid red;
    background: white;
}

button {
    background: red;
    font-family: 'Lobster';
    color: black;
    border: 0;
    text-align: center;
    padding: 10px 20px;
    width: 200px; 
    margin-left: 5px;
    border-right: 5px solid black;
    cursor: pointer;
}

select:focus, option:focus, input:focus, button:focus {
    outline: none;
} 

header {
    margin: 0 auto 50px ;
    text-align: center;
}

input[type=radio] {
    visibility: hidden;
}

input[type=radio]:checked + label::before {
    color: green;
    font-size: 40px;
    content: '\2713';
    cursor: pointer;
}

input[type=radio]:not(:checked) + label::before {
    color: red;
    font-size: 40px;
    content: '\2717';
    cursor: pointer;
}

section {
    max-width: 800px;
    margin: 10px auto;
}

section > *:not(h2) {
    margin-left: 50px;
}

.centered {
    text-align: center;
}

.types {
    margin-top: 10px;
}

.switch:hover {
    color: red;
    cursor: pointer;
    opacity: 1;
}

.faded {
    opacity: 0.4;
}

.types > div {
    border-right: 2px solid black;
}

.types > div:last-child {
    border: 0;
}

.with-subtitle {
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
}

.content {
    font-family: 'Lobster', cursive;
}

.flex-parent {
    display: flex;
}

.flex-parent > * {
    flex-grow: 1;
    flex-basis: 0;
}

.flex-parent > input {
    flex-grow: 2;
}

.radio-item {
    text-align: center;
    line-height: 50px;
}

.radio-item > span {
    vertical-align: top;
    height: 40px;
    display: inline-block;
    font-size: 30px;
}

/* THIS IS THE CUSTOM STYLING SECTION FOR QUICK MESSAGE */
.message {
    border-radius: -5px;
    color: #000;
    left: 5px;
    margin: 5px 0 0 0;
    opacity: 1;
    padding: 10px 40px;
}

.message.anim-out {
    opacity: 0 !important;
    top: 500px !important;
    left: 500px !important;
    transform: rotate(180deg);
}

.message.success {
    background: greenyellow;
}

.message.error {
    background: rebeccapurple;
}

.message.warning {
    background: pink;
}

.message.info {
    background: darkcyan;
}